body {
  margin: 0;

  overflow-x: hidden;
}
.menu_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, blue, rgb(177, 130, 238));
  width: 100vw;
  gap: 18.5%;
}

.title {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: white;
}
.links a {
  padding: 20px;
  display: none;
  text-decoration: none;
}
.btns {
  display: none;
}
.menu_icon {
  color: white;
}

/* intro styles*/

.intro_title {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 7.4vw;
  text-align: center;
}

.intro_title2 {
  display: none;
}

.intro_cont img {
  height: 260px;
  width: 100vw;
}

.para {
  text-align: center;
  font-family: sans-serif;
  margin-top: 6%;
  font-size: 6.5vw;
  line-height: 5vh;
}

.intro_btns {
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}

.signup_btn {
  height: 39px;
  width: 125px;
  background: linear-gradient(to right, blue, rgb(177, 130, 238));
  color: white;
  border-radius: 9px;
  border: 1px solid rgb(106, 106, 231);
  font-size: medium;
  font-weight: 500;
}

.login_btn {
  height: 39px;
  width: 125px;
  background: linear-gradient(to right, blue, rgb(177, 130, 238));
  color: white;
  border-radius: 9px;
  border: 1px solid rgb(106, 106, 231);
  font-size: medium;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

/* Featured Event*/

.featured_title {
  font-size: 9vw;
  font-weight: 600;
  font-family: sans-serif;
  text-align: center;
}

.subtitle {
  font-family: sans-serif;
  text-align: center;
  margin-top: -5%;
  font-size: 15px;
}

.featured_input {
  height: 35px;
  width: 90%;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  border: 1px solid gray;
  outline: none;
}

.featured_input:focus {
  border: 2px solid rgb(54, 96, 211);
}

.search_icon {
  margin-top: -8.5%;
  margin-left: 250px;
}
.featured_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.featured_cont2 {
  display: flex;
  border-radius: 12px;
  flex-direction: column;
  height: 110vh;
  width: 90vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }

  & img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.fevent_title {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 7vw;
}
.fevent_des {
  font-family: sans-serif;
  font-size: 4.6vw;
  margin-top: 5px;
  line-height: 22px;
  color: gray;
}
.icons {
  margin-left: 21px;
}
.icon_text {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 13px;
  gap: 5px;
}

.fregister_btn {
  background: linear-gradient(to right, blue, rgb(177, 130, 238));
  color: white;
  width: 53%;
  height: 41px;
  font-size: medium;
  border: none;
  border-radius: 9px;
  font-family: sans-serif;
  margin-top: 8px;
}

.viewbtn {
  width: 53%;
  height: 41px;
  background: linear-gradient(to right, blue, rgb(177, 130, 238));
  color: white;
  border-radius: 9px;
  border: 1px solid rgb(106, 106, 231);
  font-size: medium;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  margin-top: 10px;
}

/* Events */
.event_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.eventcont_title {
  font-size: 9vw;
  font-weight: 600;
  font-family: sans-serif;
  text-align: center;
}

.event_cont {
  display: flex;
  border-radius: 12px;
  flex-direction: column;
  height: 88vh;
  width: 90vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  margin-top: -6%;
  margin-bottom: 12%;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }

  & img {
    width: 100%;
    height: 30vh;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.event_title {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 7vw;
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
}
.event_des {
  font-family: sans-serif;
  font-size: 4.6vw;
  margin-top: -3%;
  line-height: 22px;
  color: gray;
}

.icons2 {
  margin-left: 21px;
}
.icon_text2 {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 13px;
  gap: 5px;
}
.eventv_btn {
  width: 80%;
  height: 38px;
  background: linear-gradient(to right, blue, rgb(177, 130, 238));
  color: white;
  border-radius: 9px;
  border: 1px solid rgb(106, 106, 231);
  font-size: medium;

  font-weight: 500;
  margin-top: 20px;
  margin-right: 5%;
}

.edit_btn {
  width: 80%;
  height: 38px;
  background: linear-gradient(to right, blue, rgb(177, 130, 238));
  color: white;
  border-radius: 9px;
  border: 1px solid rgb(106, 106, 231);
  font-size: medium;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  margin-top: 20px;
  margin-right: 5%;
}

.eventv_btn2 {
  width: 80%;
  height: 38px;
  background: linear-gradient(to right, blue, rgb(177, 130, 238));
  color: white;
  border-radius: 9px;
  border: none;
  font-size: medium;

  margin-top: -1px;
  margin-left: 10%;
}

.footer_title {
  font-size: 6vw;
  font-family: sans-serif;
  font-weight: 600;
  color: white;
}
.footer_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, blue, rgb(177, 130, 238));
  flex-direction: column;

  & div {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, blue, rgb(177, 130, 238));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, rgb(177, 130, 238), blue);
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}
.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;
  animation: slideIn 0.3s ease forwards;
}

.drawer_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.drawer_header p {
  font-size: 24px;
  font-weight: bold;
  color: black;
  font-family: sans-serif;

  background: linear-gradient(to bottom, blue, rgb(177, 130, 238));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.drawer_links {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: sans-serif;
}

.drawer_links a,
.drawer_links button {
  font-size: 18px;
  text-decoration: none;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  color: black;
}

.editInput {
  font-size: 0.95em;
  padding: 2px 6px;
  border-radius: 4px;
  border: 1px solid #bbb;
  min-width: 0;
  max-width: 180px;
  width: 100%;
  box-sizing: border-box;
}

.smallBtn {
  padding: 2px 8px;
  font-size: 0.85em;
  margin-left: 2px;
  border-radius: 4px;
  border: 1px solid #bbb;
  background: #f5f5f5;
  cursor: pointer;
  transition: background 0.2s;
}
.smallBtn:hover {
  background: #e0e0e0;
}

.edit_icon {
  cursor: pointer;
  color: #666;
  margin-top: 2px;
  margin-right: 3px;
  color: blue;
}

.edit_input,
.edit_textarea {
  padding: 6px;
  margin: 4px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.edit_textarea {
  height: 80px;
  width: 90%;
}

.save_btn,
.cancel_btn {
  margin-left: 6px;
  padding: 4px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save_btn {
  background-color: #4caf50;
  color: white;
  margin-left: -1%;
}

.cancel_btn {
  background-color: #f44336;
  color: white;
  margin-left: 1%;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@media (min-width: 1024px) {
  .menu_cont {
    justify-content: space-between;
  }

  .title {
    margin-left: 1%;
  }
  .menu_icon {
    display: none;
  }

  .links .nav-link {
    padding: 20px;
    display: initial;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
  }

  .links .nav-link.active {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 3px;
    text-decoration-color: white;
    color: white;
  }

  .btns {
    display: flex;
    margin-right: 1%;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }

  .btns button {
    height: 37px;
    width: 95px;
    background-color: rgb(35, 35, 228);
    color: white;
    border-radius: 9px;
    font-size: medium;
    border: 1px solid rgb(106, 106, 231);
  }

  /*intro styles*/
  .intro_cont2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 9%;
  }

  .intro_cont3 {
    text-align: center;
    padding-top: 2.5%;
  }

  .intro_title {
    display: none;
  }

  .intro_title2 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 3.5vw;
    text-align: center;
    display: initial;
  }

  .intro_cont img {
    height: 350px;
    width: 80vw;
    margin-right: 4%;
    border-radius: 25px;
  }

  .para {
    text-align: center;
    font-family: sans-serif;
    margin-top: -3%;
    font-size: 2vw;
    line-height: 6.4vh;
  }

  .intro_btns {
    display: none;
  }

  /* featured Events*/

  .featured_container {
    margin-top: 7%;
    background: linear-gradient(to right, blue, rgb(177, 130, 238));
    padding-bottom: 2%;
  }
  .featured_title {
    font-size: 3vw;
    margin-top: 2%;
    color: white;
  }

  .subtitle {
    font-family: sans-serif;
    text-align: center;
    margin-top: -2%;
    font-size: 20px;
    color: white;
  }

  .featured_cont2 {
    flex-direction: row;
    height: 70vh;
    width: 90vw;
    margin-top: 1%;
    background-color: white;
    align-items: center;
  }

  .featured_cont2 img {
    height: 100%;
    width: 40%;
    border-top-left-radius: 12px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 12px;
  }

  .fevent_title {
    font-size: 2vw;
    padding-left: 2%;
  }
  .fevent_des {
    font-size: 1.2vw;

    padding-left: 2%;

    line-height: 32px;

    flex: 1;

    white-space: pre-line;
  }

  .featured_input {
    height: 40px;
    width: 34%;
  }

  .search_icon {
    margin-top: -2%;
    margin-right: -14%;
  }

  .featured_cont3 {
    text-align: left;
    height: 100%;
  }

  .icons {
    margin-left: 14px;
  }
  .icon_text {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
    gap: 13px;
  }

  .fregister_btn {
    width: 20%;
    height: 41px;
    margin-top: 4%;
  }

  .viewbtn {
    width: 20%;
    height: 41px;
    margin-left: 12px;
    margin-top: 10px;
  }

  /*Events*/
  .event_container {
    flex-direction: row;
    justify-content: space-around;
  }
  .event_cont {
    height: 85vh;
    width: 30vw;
    margin-top: -1%;
    margin-bottom: 4%;
  }
  .eventcont_title {
    font-size: 3.4vw;
  }
  .event_title {
    font-size: 2vw;
  }

  .event_des {
    font-size: 1.1vw;
    margin-top: -3%;
    line-height: 24px;
  }

  .eventv_btn2 {
    width: 30vw;
    height: 45px;
    margin-left: 36%;
  }

  /*footer*/
  .footer_title {
    font-size: 2vw;
  }

  .footer_cont div {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 17px;
  }

  .field_row {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .description_row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
  }
  .edit_icon {
    cursor: pointer;
    color: #666;
    margin-top: 2px;
    margin-right: 3px;
    color: blue;
  }

  .edit_input,
  .edit_textarea {
    padding: 6px;
    margin: 4px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  .edit_textarea {
    height: 80px;
    width: 600px;
    margin-left: 4%;
  }

  .save_btn,
  .cancel_btn {
    margin-left: 6px;
    padding: 4px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .save_btn {
    background-color: #4caf50;
    color: white;
    margin-left: -1%;
  }

  .cancel_btn {
    background-color: #f44336;
    color: white;
    margin-left: -1%;
  }

  .edit_input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 5px;
    text-align: center;
  }

  .edit_textarea {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
    height: 80px;
    margin-bottom: 10px;
    resize: vertical;
  }

  .button_group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .edit_icon {
    cursor: pointer;
    margin-left: 8px;
    color: #666;
    color: blue;
  }

  .edit_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
