.profileCard {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 24px rgba(60, 60, 120, 0.08);
  padding: 2.5rem 2rem;
  width: 70%;
  text-align: center;
  transition: box-shadow 0.2s, transform 0.2s;
  margin: 10% auto 0 auto;
  border: 1px solid black;
}

.profileCard:hover {
  box-shadow: 0 8px 32px rgba(60, 60, 120, 0.18);
  transform: translateY(-6px) scale(1.025);
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.inputs {
  height: 36px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 34px;
  border: 1px grey solid;
  outline: none;
  transition: border 0.2s;
}
.inputs:focus {
  border: 1px blue solid;
}

.editBtn {
  background: linear-gradient(to right, blue, rgb(177, 130, 238));
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}
